[submodule "eureka-service-discovery"]
	path = eureka-service-discovery
	url = https://github.com/gramcha/eureka-service-discovery.git
[submodule "eureka-client-service"]
	path = eureka-client-service
	url = https://github.com/gramcha/eureka-client-service.git
