[submodule "microservices/support/eureka-discovery-service"]
	path = microservices/support/eureka-discovery-service
	url = https://github.com/gramcha/eureka-discovery-service.git
[submodule "microservices/support/zuul-edge-service"]
	path = microservices/support/zuul-edge-service
	url = https://github.com/gramcha/zuul-edge-service.git
[submodule "microservices/composite/word-query-service"]
	path = microservices/composite/word-query-service
	url = https://github.com/gramcha/word-query-service.git
[submodule "microservices/core/sounds-like-query-service"]
	path = microservices/core/sounds-like-query-service
	url = https://github.com/gramcha/sounds-like-query-service.git
